[submodule "linux-smart-enumeration"]
	path = linux-smart-enumeration
	url = https://github.com/diego-treitos/linux-smart-enumeration
[submodule "LinEnum"]
	path = LinEnum
	url = https://github.com/rebootuser/LinEnum
[submodule "pspy"]
	path = pspy
	url = https://github.com/DominicBreuker/pspy
[submodule "dictionaries"]
	path = dictionaries
	url = https://github.com/dustyfresh/dictionaries
[submodule "pentestmonkey-php-reverse-shell"]
	path = pentestmonkey-php-reverse-shell
	url = https://github.com/pentestmonkey/php-reverse-shell.git
[submodule "total-oscp-guide"]
	path = total-oscp-guide
	url = https://github.com/xapax/security.git
[submodule "linuxprivchecker"]
	path = linuxprivchecker
	url = https://github.com/sleventyeleven/linuxprivchecker.git
[submodule "checksec.sh"]
	path = checksec.sh
	url = https://github.com/slimm609/checksec.sh/
[submodule "windows-kernel-exploits"]
	path = windows-kernel-exploits
	url = https://github.com/SecWiki/windows-kernel-exploits
[submodule "gobuster"]
	path = gobuster
	url = https://github.com/OJ/gobuster
[submodule "phpbash"]
	path = phpbash
	url = https://github.com/Arrexel/phpbash.git
[submodule "static-binaries"]
	path = static-binaries
	url = https://github.com/andrew-d/static-binaries
[submodule "powercat"]
	path = powercat
	url = https://github.com/besimorhino/powercat.git
[submodule "mimikatz"]
	path = mimikatz
	url = https://github.com/gentilkiwi/mimikatz
[submodule "impacket"]
	path = impacket
	url = https://github.com/SecureAuthCorp/impacket
[submodule "PowerSploit"]
	path = PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit
[submodule "SecLists"]
	path = SecLists
	url = https://github.com/danielmiessler/SecLists
[submodule "PayloadsAllTheThings"]
	path = PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings
[submodule "ysoserial"]
	path = ysoserial
	url = https://github.com/pimps/ysoserial-modified
[submodule "Infosec_Reference"]
	path = Infosec_Reference
	url = https://github.com/rmusser01/Infosec_Reference
[submodule "CyberChef"]
	path = CyberChef
	url = https://github.com/gchq/CyberChef
[submodule "linPE"]
	path = linPE
	url = https://github.com/carlospolop/linPE
[submodule "jivoi-pentesttools"]
	path = jivoi-pentesttools
	url = https://github.com/jivoi/pentest
[submodule "MSSRC-WindowsExploits"]
	path = MSSRC-WindowsExploits
	url = https://github.com/abatchy17/WindowsExploits
[submodule "Invoke-Obfuscation"]
	path = Invoke-Obfuscation
	url = https://github.com/danielbohannon/Invoke-Obfuscation
[submodule "Evil-WinRAR-Gen"]
	path = Evil-WinRAR-Gen
	url = git@github.com:manulqwerty/Evil-WinRAR-Gen.git
[submodule "Salsa-tools"]
	path = Salsa-tools
	url = git@github.com:Hackplayers/Salsa-tools.git
[submodule "psh-nishang"]
	path = psh-nishang
	url = https://github.com/samratashok/nishang
[submodule "psh-sherlock"]
	path = psh-sherlock
	url = https://github.com/rasta-mouse/Sherlock
[submodule "csharp-missHotFix-watson"]
	path = csharp-missHotFix-watson
	url = https://github.com/rasta-mouse/Watson
[submodule "psh-empire"]
	path = psh-empire
	url = https://github.com/kmahyyg/Empire.git
[submodule "libc-database"]
	path = libc-database
	url = git@github.com:niklasb/libc-database.git
[submodule "fuzzbunch"]
	path = fuzzbunch
	url = git@github.com:fuzzbunch/fuzzbunch.git
[submodule "Chankro"]
	path = Chankro
	url = git@github.com:TarlogicSecurity/Chankro
[submodule "uacme"]
	path = uacme
	url = https://github.com/hfiref0x/UACME
[submodule "Veil"]
	path = Veil
	url = https://github.com/Veil-Framework/Veil
[submodule "Awesome-Red-Teaming"]
	path = Awesome-Red-Teaming
	url = https://github.com/yeyintminthuhtut/Awesome-Red-Teaming
[submodule "uacbypass_csharp"]
	path = uacbypass_csharp
	url = https://github.com/kmahyyg/uacbypass_juliourena
[submodule "GreatSCT"]
	path = GreatSCT
	url = https://github.com/GreatSCT/GreatSCT
[submodule "WinPwnage"]
	path = WinPwnage
	url = https://github.com/rootm0s/WinPwnage
[submodule "firefox_decrypt"]
	path = firefox_decrypt
	url = https://github.com/unode/firefox_decrypt
[submodule "winrm-console"]
	path = winrm-console
	url = https://github.com/Hackplayers/evil-winrm
[submodule "figo"]
	path = figo
	url = https://github.com/kmahyyg/figo
[submodule "ysoserial_aspnet"]
	path = ysoserial_aspnet
	url = https://github.com/pwntester/ysoserial.net
[submodule "odat"]
	path = odat
	url = git@github.com:quentinhardy/odat.git
[submodule "py2_pret"]
	path = py2_pret
	url = https://github.com/RUB-NDS/PRET
