[submodule "linux-smart-enumeration"]
	path = linux-smart-enumeration
	url = https://github.com/diego-treitos/linux-smart-enumeration
[submodule "LinEnum"]
	path = LinEnum
	url = https://github.com/rebootuser/LinEnum
[submodule "pspy"]
	path = pspy
	url = https://github.com/DominicBreuker/pspy
[submodule "dictionaries"]
	path = dictionaries
	url = https://github.com/dustyfresh/dictionaries
[submodule "pentestmonkey-php-reverse-shell"]
	path = pentestmonkey-php-reverse-shell
	url = https://github.com/pentestmonkey/php-reverse-shell.git
[submodule "total-oscp-guide"]
	path = total-oscp-guide
	url = https://github.com/xapax/security.git
[submodule "linuxprivchecker"]
	path = linuxprivchecker
	url = https://github.com/sleventyeleven/linuxprivchecker.git
[submodule "checksec.sh"]
	path = checksec.sh
	url = https://github.com/slimm609/checksec.sh/
[submodule "windows-kernel-exploits"]
	path = windows-kernel-exploits
	url = https://github.com/SecWiki/windows-kernel-exploits
[submodule "gobuster"]
	path = gobuster
	url = https://github.com/OJ/gobuster
[submodule "phpbash"]
	path = phpbash
	url = https://github.com/Arrexel/phpbash.git
[submodule "static-binaries"]
	path = static-binaries
	url = https://github.com/andrew-d/static-binaries
[submodule "powercat"]
	path = powercat
	url = https://github.com/besimorhino/powercat.git
[submodule "mimikatz"]
	path = mimikatz
	url = https://github.com/gentilkiwi/mimikatz
[submodule "impacket"]
	path = impacket
	url = https://github.com/SecureAuthCorp/impacket
[submodule "PowerSploit"]
	path = PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit
[submodule "SecLists"]
	path = SecLists
	url = https://github.com/danielmiessler/SecLists
[submodule "PayloadsAllTheThings"]
	path = PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings
[submodule "ysoserial"]
	path = ysoserial
	url = https://github.com/pimps/ysoserial-modified
